.Xauthority
.atom/
.bash_history
.bash_logout
.cache/
.codeintel/
.config/Atom/
.config/Code/
.config/QGIS/
.config/Trolltech.conf
.config/configstore/
.config/default.pa
.config/fish/fish_history
.config/fish/fishd.localhost
.config/google-chrome/
.config/gtk-2.0/
.config/libfm/
.config/menus/
.config/nvim/.netrwhist
.config/nvim/autoload/
.config/panel/panel.backup
.config/panel/panel_colors.backup
.config/panel/panel_colors_
.config/pcmanfm/
.config/pulse/
.config/ranger/bookmarks
.config/ranger/commands.py
.config/ranger/commands.pyo
.config/ranger/history
.config/ranger/scope.sh
.config/ranger/tagged
.config/sublime-text-3/
.config/theme/
.dbus/
.electron/
.fonts/
.gimp-2.8/
.gitconfig
.gnome/
.grip/
.heroku/
.ipython/
.java/
.jspm/
.lesshst
.local/
.mozilla/
.netrc
.node-gyp/
.node_repl_history
.npmrc
.pgadmin3
.pgadmin_histoqueries
.pgpass
.pip/
.pki/
.psql_history
.qgis2/
.spyder2/
.ssh/
.thumbnails/
.v8flags.4.6.85.31.poco.json
.v8flags.5.0.71.35.poco.json
.vim/
.vscode/
.xscreensaver
.xsel.log
2
3
Documents/base16-real.css
Documents/c720-config.wiki/
Documents/green-pattern-map.wiki/
Documents/green-pattern-map/
Documents/linode-config/
Documents/profile.log
Documents/test/
Documents/tyler/
Documents/watermap/
Downloads/
pgadmin.log
