! allow copy & paste in urxvt
URxvt.perl-ext-common: default,clipboard
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd: xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

! URxvt no scrollbar
URxvt.scrollBar: false

! Regular font/ powerline regular font
URxvt.font: xft:Roboto Mono:pixelsize=12:antialias=true:hinting=true,xft:Roboto Mono for Powerline:pixelsize=12:antialias=true:hinting=true
! Bold font/ powerline bold font
URxvt.boldFont: xft:Roboto Mono:style=bold:pixelsize=12:antialias=true:hinting=true,xft:Roboto Mono for Powerline:style=bold:pixelsize=12:antialias=true:hinting=true
! Italics Font/ powerline italics font
URxvt.italicFont: xft:Roboto Mono:style=italic:pixelsize=12:antialias=true:hinting=true,xft:Roboto Mono for Powerline:style=italic:pixelsize=12:antialias=true:hinting=true

! Terminal Colors 
#include "/home/poco/.config/theme/base16-xresources/base16-flat.dark.256.xresources"
